---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="cursor-pointer w-fit flex justify-self-end items-center px-4 py-2 sm:text-sm text-xs font-medium text-gray-900 border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700  dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
>
  <slot />
</a>
