---
import ProjectItem from './ProjectItem.astro';
import Tailwind from './icons/Tailwind.astro';
import Langchain from './icons/Langchain.astro';
import React from './icons/React.astro';
import Python from './icons/Python.astro';
import Spring from './icons/Spring.astro';
import PostgreSQL from './icons/PostgreSQL.astro';

const TAGS = {
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  LANGCHAIN: {
    name: 'Langchain',
    class: 'bg-[#1D3D3C] text-white',
    icon: Langchain,
  },
  REACT: {
    name: 'React JS',
    class: 'bg-gray-800 text-white',
    icon: React,
  },
  PYTHON: {
    name: 'Python',
    class: 'bg-yellow-700 text-white',
    icon: Python,
  },
  SPRING: {
    name: 'Spring',
    class: 'bg-[#003300] text-white',
    icon: Spring,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-[#24478f] text-white',
    icon: PostgreSQL,
  },
};
const PROJECTS = [
  {
    title: 'Local AI',
    description:
      'Web-local basada en langchain que permite interactuar con los distintos modelos LLM OpenAI para cloud y Ollama para local.',
    href: 'https://localai.jstevenon.com',
    src: '/video.mp4',
    tags: [TAGS.REACT, TAGS.LANGCHAIN, TAGS.TAILWIND],
    githubRef: 'https://github.com/Jhons14/LocalAI',
  },
  {
    title: 'Format Converter',
    description:
      'Website que permite transformar textos entre distintos formatos.',
    href: 'https://formatparser.jstevenon.com',
    src: '/formatConverter.mp4',
    tags: [TAGS.REACT, TAGS.PYTHON, TAGS.TAILWIND],
    githubRef: 'https://github.com/Jhons14/Format-parser',
  },
  {
    title: 'POS (Point of Sale)',
    description:
      'Sistema de punto de venta (POS) que permite gestionar productos, ventas y clientes. Implementa manejo de sesion y autenticacion con JWT Spring Security.',
    href: 'https://possystem.jstevenon.com/',
    src: '/pos.mp4',
    tags: [TAGS.REACT, TAGS.SPRING, TAGS.POSTGRESQL, TAGS.TAILWIND],
    githubRef: 'https://github.com/Jhons14/POSSystem',
  },
];
---

<div class='flex flex-col sm:gap-20 gap-8 m-4'>
  {PROJECTS.map((projectItem) => <ProjectItem {...projectItem} />)}
</div>
